
/*
** Stylesheet for pages on the Tkhtml website. All pages must adhere to the 
** following guidelines:
**
**     + TODO
*/


html,body {
    background: #DDDDDD;
}
body {
    padding-top: 1em;
    padding-bottom: 1em;
}

#body {
    position: absolute;
    left: 25ex;        /* Same as .sidebox width */
    right: 1em;
}

.sidebox {
    position: fixed;
    width: 25ex;       /* Same as #body left */
    left: 0px;
    text-align:center;
}
.sidebox ul {
    margin: 0;
    padding: 0;
}
.sidebox li {
    display: block;
    margin: 0;
    padding: 0 2ex;
}
.sidebox li a {
    text-decoration: none;
}
.sidebox li         {background-color: white;}
.sidebox li:hover   {background-color: darkblue; color: white;}
.sidebox li:hover a {color: inherit;}

a[href]       { color: darkblue; }
a[href]:hover { background-color: darkblue; color: white; }

.caption {
  display:none;
}
li:hover .caption {
  display:block;
  position:absolute;
  top: 100%;
  margin-top: 1em;
  color: black;
  font-weight: bold;
  text-align:left;
  margin-right:1em;
}

#text {
    padding: 3ex;
}
#sitemap,#toc,#text {
    border: solid 1px;
    background: white;
    margin-bottom:1em;
}
#sitemap,#toc {
    margin: 1em;
}

h1,h2,h3 {
    background: #000088;
    color: white;
    padding-left: 2ex;
}
h1,h3 {
    margin: 0;
}
h2 {
    margin-top: 1em;
}

/* Table formatting for support page */
table {
    margin: 1em auto;
    width:80%;
}
td           {padding: 0px .5em}

/* Colors used for property names in support page */
.nosupport   {color: grey !important}
.support     {color: darkblue}

/* Margin on images for the hv3 demo page */
img {
  margin: 1em;
}

/* <pre class="code"> elements contain Tcl or Html code. */
pre[class="code"] {
  margin: 0.5em 3em;
  padding: 0.5em;
  border: solid black 1px;
  background: #DDDDDD;       /* Same color as background of <body>, <html> */
}

